{%extends 'base.html'%}
{%load static%}
{%block content%}

<style type="text/css">
p{
	font-size: 17px;
	text-align: justify;
	font-weight: bold;
	margin-top: 30px;
	color: white;
}

</style>

<div style="background-image: url({%static '/img/F2.png'%}); background-size: cover; min-height: 75vh;">
	<div class="container" style="padding-top: 0;">
		<div class="row">
			<div class="col-md-6" style="background-color: #707578;">
				<p>Direccion: Azoyatla 123 42032 Pachuca de Soto, Hidalgo</p>
				<p>Telefono: 77 171 39094</p>
				<p>Mail: ventasyproyectos@grupocarsev.com</p>
			</div>
			<div class="col-md-6">
				<iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOvSQMyVEreVAjqyNayl5mtbXCZDUzVqE&q=20.1134476,-98.7723005" allowfullscreen></iframe>
			</div>			
		</div>




	</div>



</div>

{%endblock content%}