{%extends 'base.html'%}

{%load static%}

{%block content%}

	<style type="text/css">
	p{
	/*	background-color: rgba(255, 255, 255, 0.3);*/
		font-size: 17px;
		text-align: justify;
		font-weight: bold; 
		margin-top: 30px;
	}
	h1, h2, p {
		color: #072C42;
	}
	</style>

	<div style="background-image: url({%static '/img/F1.jpg'%}); background-size: cover; min-height: 100vh;">
	</div>
	<div style="background-image: url({%static '/img/F2.png'%}); background-size: cover; min-height: 100vh;">

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>BIENVENIDOS</h1>
					<p>En GRUPO CONSTRUCTOR CARSEV, S. A. de C. V. fabricamos bebederos institucionales de acero inoxidable equipados con sistemas filtración de agua, de acuerdo con los requerimientos del Programa Nacional de Bebederos Escolares, se cumple completamente con la Norma Oficial Mexicana NOM-127-SSA1-1994 de Agua Potable para consumo humano y con la Norma Oficial Mexicana NOM-201-SSA1-2015, para productos y servicios. Agua y Hielo para consumo humano, envasados y a granel. Especificaciones sanitarias.</p>
					<p>Nuestros bebederos son de diferentes tamaños y capacidades, recomendados de acuerdo al número de alumnos y a la calidad del agua de la zona donde se van a instalar. Ofrecemos la garantía de diseñar e instalar los equipos más acordes a las necesidades particulares de cada Institución Educativa</p>
				</div>		
				<div class="col-md-6">
					<h2>MISIÓN</h2>
					<p>Somos una organización dedicada a edificar sueños, construimos fortalezas de familia, resguardando lo que amas con colaboradores altamente capacitados que aseguran el éxito de nuestros métodos constructivos y de mantenimiento preventivo y correctivo a cada paso.</p>
				</div>
				<div class="col-md-6">
					<h2>VISIÓN</h2>
					<p>Liderar en el ramo de la construcción 2017 del estado de hidalgo ejecutando obras con las mejores técnicas preventivas y correctivas, mantenimiento y vanguardia en el abastecimiento de materiales que superen las expectativas de nuestros clientes en servicio, tiempo y capacidad.</p>
				</div>	
			</div>
		</div>

	</div>



{%endblock content%}